In [1]:
import pandas as pd

# Lista de file_ids de los archivos p√∫blicos en Drive
file_ids = [
    "1yD28PmPmByNvtJAlZ7JchKuOss_oUYv_",    #mayo
    "1WnnLypdzIi9whk54FwpXG2ersSyGlnhT",    #junio
    "1aoQngs8yK65wTd8Kqqkw_K5lCKAUKQEz",    #julio
    "1pkNHi90yDIPVwjN_5QhQAgqwilqxeyow",    #agosto
    "1Duiq8PFAaSf8adVdWZPJvUcBxKlLyo_N",    #septiembre
    "1ol1iZJiVlM8Ova8EQjByvLNk01Lzu6Ph",    #octubre
    "1xnvdKLA8r3PSkB8UvEQq2VHGVHG8JnTC"     #noviembre
]
dfs = []

for file_id in file_ids:
    try:
        url = f"https://drive.google.com/uc?id={file_id}"
        df = pd.read_excel(url, sheet_name="AGU02 PERFIL", engine="openpyxl", header=1)
        dfs.append(df)
    except Exception as e:
        print(f"Error al leer archivo con ID {file_id}: {e}")

# Unir todos los DataFrames
df_total = pd.concat(dfs, ignore_index=True)

# Ver los primeros registros
print(df_total.head())

                           Load Profile Data Display  Unnamed: 1  Unnamed: 2  \
0  =================================================         NaN         NaN
1                                                            NaN         NaN
2                                         Record No.  Event Type  Start Time
3                                                NaN         NaN         NaN
4                                                NaN         NaN         NaN

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN   (W) INY.    (W) RET    VAr INY    VAr RET    VA INY
2   End Time        -1-        -2-        -3-        -4-        -5-
3        NaN          0        NaN        NaN        NaN        NaN
4        NaN          0        NaN        NaN        NaN        NaN

  Unnamed: 9  ... Unnamed: 22 Unnamed: 23 Unnamed: 24 Unnamed: 25 Unnamed: 26  \
0        NaN  ...         NaN         NaN         NaN         NaN         NaN
1     VA RET  ...         NaN         NaN         NaN         NaN         NaN
2        -6-  ...         NaN         NaN         NaN         NaN         NaN
3        NaN  ...         NaN         NaN         NaN         NaN         NaN
4        NaN  ...         NaN         NaN         NaN         NaN         NaN

  Unnamed: 27 Unnamed: 28 Unnamed: 29 Unnamed: 30  Unnamed: 31
0         NaN         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN         NaN          NaN
2         NaN         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN         NaN          NaN
4         NaN         NaN         NaN         NaN          NaN

[5 rows x 32 columns]

In [2]:
df_total

,Load Profile Data Display,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,=================================================,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,NaN,NaN,NaN,(W) INY.,(W) RET,VAr INY,VAr RET,VA INY,VA RET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Record No.,Event Type,Start Time,End Time,-1-,-2-,-3-,-4-,-5-,-6-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [3]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20980 entries, 0 to 20979
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Load Profile Data Display  18992 non-null  object
 1   Unnamed: 1                 18968 non-null  object
 2   Unnamed: 2                 18968 non-null  object
 3   Unnamed: 3                 18968 non-null  object
 4   Unnamed: 4                 19073 non-null  object
 5   Unnamed: 5                 18975 non-null  object
 6   Unnamed: 6                 18975 non-null  object
 7   Unnamed: 7                 18975 non-null  object
 8   Unnamed: 8                 18975 non-null  object
 9   Unnamed: 9                 18975 non-null  object
 10  Unnamed: 10                18975 non-null  object
 11  Unnamed: 11                18975 non-null  object
 12  Unnamed: 12                18975 non-null  object
 13  Unnamed: 13                18975 non-null  object
 14  Unnamed: 14                18975 non-null  object
 15  Unnamed: 15                18975 non-null  object
 16  Unnamed: 16                18975 non-null  object
 17  Unnamed: 17                18975 non-null  object
 18  Unnamed: 18                18975 non-null  object
 19  Unnamed: 19                0 non-null      float64
 20  Unnamed: 20                96 non-null     float64
 21  Unnamed: 21                0 non-null      float64
 22  Unnamed: 22                0 non-null      float64
 23  Unnamed: 23                0 non-null      float64
 24  Unnamed: 24                0 non-null      float64
 25  Unnamed: 25                0 non-null      float64
 26  Unnamed: 26                0 non-null      float64
 27  Unnamed: 27                4 non-null      float64
 28  Unnamed: 28                0 non-null      float64
 29  Unnamed: 29                2 non-null      object
 30  Unnamed: 30                0 non-null      float64
 31  Unnamed: 31                5952 non-null   float64
dtypes: float64(12), object(20)
memory usage: 5.1+ MB

In [4]:
# Eliminamos la columna 2 y 4 debido a que no contiene datos relevantes para el estudio
df_total = df_total.drop(columns=[df_total.columns[1], df_total.columns[3]])

In [5]:
# nos quedamos con las siguientes columnas ya que contiene los datos utiles para el estudio
df_total = df_total.iloc[:, :17]

In [6]:
# cambiamos a tipo de dato datetime la columna porque esta contiene las fechas
df_total['Unnamed: 2'] = pd.to_datetime(df_total[df_total.columns[1]], errors='coerce')

<ipython-input-6-178581253>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_total['Unnamed: 2'] = pd.to_datetime(df_total[df_total.columns[1]], errors='coerce')

In [7]:
# renombramos a la columna que contiene las fechas
df_total = df_total.rename(columns={df_total.columns[1]: 'Fecha'})

In [8]:
# eliminamos los valores nulos que estan en la columna fecha
df_total = df_total.dropna(subset=['Fecha'])

In [9]:
# Convertir todas las dem√°s columnas num√©ricas
columnas_numericas = df_total.columns.drop(['Fecha'])

for col in columnas_numericas:
    df_total[col] = pd.to_numeric(df_total[col], errors='coerce')

In [10]:
# Creamos una nueva columna para buscar fechas que pueden estar repetidas y poder hacer la eliminacion de duplicados
df_total = df_total.sort_values('Fecha')  # Ordena
df_total['Delta'] = df_total['Fecha'].diff() # Creamos una columna que contiene la diferencia de cada fila y la anterior
print(df_total['Delta'].value_counts())

Delta
0 days 00:15:00    18648
0 days 00:00:00      308
0 days 00:20:33        1
0 days 00:09:27        1
0 days 00:14:55        1
0 days 00:15:05        1
Name: count, dtype: int64

In [11]:
# Eliminar las filas con diferencia de 0 minutos entre fechas consecutivas
df_total = df_total[df_total['Delta'] != pd.Timedelta(0)]

# Eliminar la columna auxiliar
df_total = df_total.drop(columns=['Delta'])

# Verificar resultado
print(df_total.shape)

(18653, 17)

In [12]:
# Renombramos las columnas
df_total.columns = [
    'nro',
    'Fecha',
    'Potencia_activa_generada [kW]',
    'Potencia_activa_consumida [kW]',
    'Potencia_reactiva_generada [kVAr]',
    'Potencia_reactiva_consumida [kVAr]',
    'Potencia_aparente_generada [kVA]',
    'Potencia_aparente_consumida [kVA]',
    'Voltaje_F-N_A [V]',
    'Voltaje_F-N_B [V]',
    'Voltaje_F-N_C [V]',
    'Amperaje_A [A]',
    'Amperaje_B [A]',
    'Amperaje_C [A]',
    'Factor_potencia_generado',
    'Factor_potencia_consumido',
    'Frecuencia'
]

In [13]:
df_total = df_total.sort_values('Fecha').reset_index(drop=True)

In [14]:
# creamos una nueva columna que funcionara como indice
df_total['Nro_evento'] = range(1, len(df_total) + 1)

In [15]:
# eliminamos la columna Nro
if 'nro' in df_total.columns:
    df_total = df_total.drop(columns=['nro'])

In [16]:
# reordenamos las columnas
columnas = ['Nro_evento'] + [col for col in df_total.columns if col != 'Nro_evento']
df_total = df_total[columnas]

In [17]:
print(df_total.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18653 entries, 0 to 18652
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Nro_evento                          18653 non-null  int64
 1   Fecha                               18653 non-null  datetime64[ns]
 2   Potencia_activa_generada [kW]       18653 non-null  float64
 3   Potencia_activa_consumida [kW]      18653 non-null  float64
 4   Potencia_reactiva_generada [kVAr]   18653 non-null  float64
 5   Potencia_reactiva_consumida [kVAr]  18653 non-null  float64
 6   Potencia_aparente_generada [kVA]    18653 non-null  float64
 7   Potencia_aparente_consumida [kVA]   18653 non-null  float64
 8   Voltaje_F-N_A [V]                   18653 non-null  float64
 9   Voltaje_F-N_B [V]                   18653 non-null  float64
 10  Voltaje_F-N_C [V]                   18653 non-null  float64
 11  Amperaje_A [A]                      18653 non-null  float64
 12  Amperaje_B [A]                      18653 non-null  float64
 13  Amperaje_C [A]                      18653 non-null  float64
 14  Factor_potencia_generado            18653 non-null  float64
 15  Factor_potencia_consumido           18653 non-null  float64
 16  Frecuencia                          18653 non-null  float64
dtypes: datetime64[ns](1), float64(15), int64(1)
memory usage: 2.4 MB
None

In [18]:
# Buscamos fechas en las cuales los registros sean diferentes a los 15 min
horas_incorrectas = df_total[
    (df_total['Fecha'].dt.minute % 15 != 0) |
    (df_total['Fecha'].dt.second != 0)
]

# Mostrar los registros conflictivos
print(horas_incorrectas[['Fecha']])
print(f"\nCantidad de registros con horario incorrecto: {len(horas_incorrectas)}")

                   Fecha
8305 2024-07-27 12:20:33
9768 2024-08-11 17:59:55

Cantidad de registros con horario incorrecto: 2

In [19]:
# Redondear toda la columna 'Fecha' al m√∫ltiplo m√°s cercano de 15 minutos
df_total['Fecha'] = df_total['Fecha'].dt.round('15min')

In [20]:
print(df_total.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18653 entries, 0 to 18652
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Nro_evento                          18653 non-null  int64
 1   Fecha                               18653 non-null  datetime64[ns]
 2   Potencia_activa_generada [kW]       18653 non-null  float64
 3   Potencia_activa_consumida [kW]      18653 non-null  float64
 4   Potencia_reactiva_generada [kVAr]   18653 non-null  float64
 5   Potencia_reactiva_consumida [kVAr]  18653 non-null  float64
 6   Potencia_aparente_generada [kVA]    18653 non-null  float64
 7   Potencia_aparente_consumida [kVA]   18653 non-null  float64
 8   Voltaje_F-N_A [V]                   18653 non-null  float64
 9   Voltaje_F-N_B [V]                   18653 non-null  float64
 10  Voltaje_F-N_C [V]                   18653 non-null  float64
 11  Amperaje_A [A]                      18653 non-null  float64
 12  Amperaje_B [A]                      18653 non-null  float64
 13  Amperaje_C [A]                      18653 non-null  float64
 14  Factor_potencia_generado            18653 non-null  float64
 15  Factor_potencia_consumido           18653 non-null  float64
 16  Frecuencia                          18653 non-null  float64
dtypes: datetime64[ns](1), float64(15), int64(1)
memory usage: 2.4 MB
None

In [21]:
# creacion de archivo de la tabla limpia
df_total.to_excel("AGU02_limpio.xlsx", index=False)